<footer>
    <div class="f-info">
        <div class="f-class-socials">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>


        </div>
        <div class="f-brand">&copy;WanderLust pvt ltd</div>

        <div class="f-info-links">
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/help">Help</a>
        </div>
    </div>
</footer>